<h1> Gráfica dobles </h1>
<hr>

<div class="row">
    <div class="col-md-6">
        Gráfica 1
        <app-bar-graphic 
            [orientation]="'horizontalBar'"
            [barChartData]="productData"
            [barCharLabels]="providersLabels"></app-bar-graphic>
    </div>

    <div class="col-md-6">
        Gráfica 2
        <app-bar-graphic
            [orientation]="'bar'"
            [barChartData]="providersData"
            [barCharLabels]="providersLabels"></app-bar-graphic>
    </div>
</div>